.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;

  transition: color 0.3s, fill 0.3s, opacity 0.3s;

  &:hover {
    transition: color 0.1s, fill 0.1s, opacity 0.1s;
    fill: $color-turquoise-hover;
  }

  &:active,
  &:focus {
    fill: $color-turquoise-hover;
    opacity: 0.3;
    outline: none;
  }
  fill: $color-turquoise;
}

.copyright__text {
  margin-right: 30px;
}
