.order {
  padding-bottom: 55px;
}

.order__wrapper {
  @include container();
  padding-top: 25px;
}

.order__info {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}
