.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 568px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    height: 17px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: center top;
  }

  @media (min-width: $tablet-width) {
    min-height: 834px;

    &::after {
      display: block;
    }
  }
}
