.page-footer {
  background-color: $color-gray-background;
}

.page-footer__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    height: 143px;
  }
}

.page-footer__logo-wrapper {
  display: none;
  flex: 1;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__logo {

  @media (min-width: $tablet-width) {
    @include link($black, $color-turquoise-hover);
  }
}

.page-footer__social {
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: auto;
    border-width: 0;
  }
}

.page-footer__copyright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    height: auto;
    margin: 0;
  }
}
