.promo-list {
  display: none;
  width: 50%;
  margin-top: 25px;
  order: 1;
  line-height: 1;
  list-style-type: none;
  font-weight: 700;
  font-size: 15px;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.promo-list__item {

  &:first-child {
    padding-right: 60px;
  }
}

.promo-list__link {
  transition: opacity 0.3s;

  &:hover {
    transition: opacity 0.1s;
    opacity: 0.6;
  }

  &:active,
  &:focus {
    transition: opacity 0.1s;
    opacity: 0.3;
    outline: none;
  }
}
