.reviews__wrapper {
  position: relative;
  padding-bottom: 40px;
  @include container();

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 120px;
    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;

    &::after {
      height: 17px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 235px;
    background-position: left 50px top;

    &::after {
      height: 23px;
      left: 50px;
      right: 50px;
    }
  }
}

.reviews__title {
  margin-top: 0;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    margin-bottom: 20px;
    max-width: calc(100% - 175px - 20px); //Ширина блока минус ширина кнопки и отступ
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    font-size: 53px;
  }
}

.reviews__list {
  order: 2;
}

.reviews__item {
  margin: 30px 0;
  line-height: 30px;
  color: $dark-gray;
}

.reviews__text {
  margin: 30px 0;
}

.reviews__author {
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-start;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;
}

.reviews__control {
  display: flex;
  border: 1px solid $color-gray-border;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: -80px;
    width: 175px;
    border-width: 0;
  }
}

.reviews__button {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  border-color: $color-gray-border;
  border-width: 0;
  overflow: hidden;
  text-indent: -9999px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    border-left-width: 1px;
  }


  @media (min-width: $tablet-width) {
    transition: opacity 0.3s;

    &:hover {
      transition: opacity 0.1s;
      opacity: 0.6;
    }

    &:active,
    &:focus {
      opacity: 0.3;
      outline: none;
    }

    &--next {
      border-left-width: 0;
    }

  }

  @media (min-width: $desktop-width) {}
}

.reviews__write {

  @media (min-width: $tablet-width) {
    order: 1;
    margin-left: auto;
    width: 175px;
  }
}
